body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000; /* 改变头部链接字体颜色，如“首页”为字体为黑色 */
    text-decoration: none;
}

section {
    padding: 50px 0;
    border-bottom: 1px solid #ddd;
}

.home-section {
    background-color: #f7f7f7;
    text-align: center;
}

.about-section, .experience-section, .skills-section, .projects-section, .contact-section {
    background-color: #fff;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.job, .project {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Skill Dropdown Container */
.skill-dropdown {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}

/* Skill Button */
.skill-button {
    background-color: #f7f7f7;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}

/* Skill Content (Dropdown Content) */
.skill-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

/* Links inside the dropdown */
.skill-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.skill-content a:hover {
    background-color: #f1f1f1;
}

/* 响应式设计 */
@media (max-width: 768px){
    .container{
        width: 100%;
        padding: 0 10px; 
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

/* 平滑滚动效果 */
html {
    scroll-behavior: smooth;
}
